@font-face{
    font-family: 'Bainsley';                  
    src: local('Bainsley_Roman'), url('Bainsley_Roman.otf') format('opentype');         
}

*{
    font-family: 'Bainsley';
}

table, th, td{
    margin-left: auto; 
    margin-right: auto;
    border: 0.05em solid #000000;
    padding: 0.4em;
}

th{
    color: #FFFFFF;
    background-color: #000000;
}

#menu-site-title{
    top: 0em;
    left: 0em;
    position: absolute;
    width: 100%;
    background-color: #000000;
}

#site-title{
    background-color: #000000;
    text-align: center;
    font-size: 0.6em;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

#site-title img{
    height: 35px;
    padding: 1em;
}

#menu {
    display: flex;
    justify-content: space-around;
}

#menu a{
    background-color: #000000;
    color: #FFFFFF;
    padding: 0.5em;
    text-decoration: none;
    font-size: 0.75em;
}

#menu a:hover{
    background-color: #0000FF;
}

.articles-list-items {
    color: #000000;
}

.articles-list-items:hover {
    color: #0000FF;
}

#page-text{
    top: 3em;
    margin: 0em auto;
    position: absolute;
    font-size: 1.5em;
}

#page-text #algoritmo-section{
    background-color: #EB7D5B;
    border-style: none none none solid;
    border-color: #FF0000;
    border-radius: 0.5em;
    border-width: 1em;
}

#page-text #colete-dados-em-campo-section{
    background-color: #FED23F;
    border-style: none none none solid;
    border-color: #FFFF00;
    border-radius: 0.5em;
    border-width: 1em;
}

#page-text #aperte-o-play-section{
    background-color: #B5D33D;
    border-style: none none none solid;
    border-color: #00FF00;
    border-radius: 0.5em;
    border-width: 1em;
}

#page-text #conclusao-section{
    background-color: #6CA2EA;
    border-style: none none none solid;
    border-color: #0000FF;
    border-radius: 0.5em;
    border-width: 1em;
}

#image-width{
    width: 75%;
}

#consent-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem 8rem;
    background-color: #000000;
    transition: opacity 1s ease;
    text-align: center;
    padding: 1em;
    color: #fff;
    font-size: 1em;
}

.hidden {
    opacity: 0;
}